<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link rel="icon" href="./img/weather.png">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Use this site to get weather infomation!</p>
        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>
        <p id="searchText"></p>
        <p id="summary"></p>
        <p id="actualTemperature"></p>
        <p id="precip"></p>
        <p id="errorMessage"></p>
    </div>

    {{>footer}}
    <script src="./js/client-side-js.js"></script>
</body>

</html>